.main-con {
  margin: 70px  30px  20px 30px;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.left-con {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 15px 15px 15px;
  margin-left: 20px;
  border-radius: 6px;
  width:30%;
  height: 20rem;
  /* background: #db1111af; */
  font-size: 17px;
}
.icon-part{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.icon-name{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-info{
    color: rgba(179, 180, 182, 0.884);
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
strong{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.right-con{

    width:45%;
    height: auto;
    /* background: #db1111af; */
    border: 1px solid rgba(199, 193, 193, 0.459);
    border-radius: 8px;
    padding: 30px;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    gap: 30px;

}
h1{
    margin-bottom: 5px;
    font-size: 2.2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.n-input{
    width: 97%;
    font-size: 16px;
    background-color: #2c333f;
    border-radius: 5px;
    padding-left: 10px;
    height: 35px;
}

.in-name{
    display: flex;
    gap: 30px;
}

.f-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.email{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea{
    height: 170px;
    width: 95%;
    border-radius: 5px;
    background-color: #2c333f;
    padding: 10px;
    font-size: 17px;
}
.send-butt{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    width: 100%;
    font-size: 20px;
    padding: 5px;
    color: black;
    font: bold;
}

@media only screen and (max-width: 900px) {

    .main-con {
        flex-direction: column;
    }

    .right-con{

        width:90%;
    }

    .left-con {
        width: 90%;
    }


}
@media only screen and (max-width: 500px) {

    .main-con{
        margin-left: 5px;
    }

    h1{
        margin-bottom: 5px;
        font-size: 1.6rem;
    }

    .in-name{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .f-name{
        width: 100%;
    }
    

}