.App {
  /* text-align: center; */
  background-color: #0b0b0c;
  /* width: 100vw;
  height: 100vh; */
  padding: 15px;
  padding-top: 8px;
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;

}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
 background: #000;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(158, 153, 153, 0.616);
  border-radius: 10px;
}


.App-link {
  color: #61dafb;
}

@media (max-width: 868px) {

  ::-webkit-scrollbar {
    display: none;
   background: #000;
  }


}
@media (max-width: 480px) {

  ::-webkit-scrollbar {
    display: none;
   background: #000;
  }


}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*  */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
